<div class="col-sm-8 col-sm-offset-2" ng-if="!user.isAuthenticated">
    <div class="well">
        <h3>Login</h3>

        <form>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="loginForm.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="loginForm.password">
            </div>
            <button class="btn btn-primary" ng-click="login()">Submit</button>
        </form>
    </div>
</div>

<div>
    <button class="btn btn-default" ng-click="logout()">Logout</button>
    <div style="margin-top: 20px">
        <h2>Users List</h2>
        <ul>
            <li ng-repeat="user in users"> {{ user.email }}</li>
        </ul>
    </div>
</div>